.navbar header {
    background: transparent;
    position: absolute;
    top: 20px;
    z-index: 2;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: none !important;
}

.navbar__toolbar {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    box-shadow: none;
}

.navbar__links {
    display: flex;
    list-style-type: none;
    color: #fff;
    gap: 36px;
    background-color: #ffffff17;
    padding: 20px 40px;
    backdrop-filter: blur(0.5);
    border-radius: 40px;
}

.navbar__links .link {
    color: #fff;
    list-style-type: none;
    font-size: 16px;
    text-decoration: none;
}

.hamburger__icon {
    font-size: 20px !important;
}

/* sidebar menu */

.sidebar {
    background-color: #dad1f4;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    backdrop-filter: blur(0);
    flex-direction: column;
    padding: 30px;
}

.sidebar .navbar__links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: #3a1464;
    background-color: transparent;
    gap: 28px;
    margin-top: 30px;
    text-align: center;
}

.sidebar .link {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    font-size: 28px;
    color: #3a1464;
}

.sidebar__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .close__icon {
    font-size: 30px;
    cursor: pointer;
}

.link.selected {
    color: transparent;
    background-image: linear-gradient(83.46deg, #7f47bf, #d690f2);
    background-clip: text;
}
