.container {
    padding: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1515174e;
    background-image: url("https://www.rootit.in/_next/static/media/Main%20gif.feee1d78.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 20px;
    margin: 80px 0;
}

.cta__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.cta__subText {
    color: #787878;
}
